
terraform.tfstate
terraform.tfstate.*
*.tfstate*
*.tfvars

*.tfvars
*.auto.tfvars
.terraform.lock.hcl

.terraform/

crash.log
*.log


inventory.ini

.ansible/
*.retry

id_rsa
id_rsa.pub
*.pem
*.key

.DS_Store
Thumbs.db

.vscode/
.history/
